#a1{
    width: 270px;
    margin: auto;
    background-color: #262424;
    padding: 10px;
    border: 10px;
    border-radius: 20px;
    box-shadow: 0 8px 50px -7px black;
}
#a2{
    padding: 15px;
}
.button {
    width: 25%;
    background: #262424;
    color: #fff;
    padding: 15px;
    display: inline-block;
    font-size: 20px;
    margin-right: -4px;
    border-right: solid 1px #b7c0c9;
    border-bottom: solid 1px #b7b7d0;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
  
}